

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CodePen - Direct Messaging</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
    <base th:href="@{/}" href="">
    </ba>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="layui/css/layui.css"  media="all">


</head>
<body>
<!-- partial:index.partial.html -->
<div class="wrapper">
    <div class="container">
        <div class="left">
            <div class="top">
                <input type="text" placeholder="Search"/>
                <a href="javascript:;" class="search"></a>
            </div>

            <ul class="people" id="onlineUsers">


                <li class="person" data-chat="person2">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/dog.png" alt=""/>
                    <span class="name">Dog Woofson</span>
                    <span class="time">1:44 PM</span>
                    <span class="preview">I've forgotten how it felt before</span>
                </li>


            </ul>
        </div>
        <div class="right">
            <div class="top"><span>To: <span class="name">Dog Woofson</span></span></div>
            <div id="chatRecordDiv">
                <div class="chat" data-chat="person2">
                    <div class="conversation-start">
                        <span>Today, 5:38 PM</span>
                    </div>
                    <div class="bubble you">
                        Hello, can you hear me?
                    </div>
                    <div class="bubble you">
                        I'm in California dreaming
                    </div>
                    <div class="bubble me">
                        ... about who we used to be.
                    </div>
                    <div class="bubble me">
                        Are you serious?
                    </div>
                    <div class="bubble you">
                        When we were younger and free...
                    </div>
                    <div class="bubble you">
                        I've forgotten how it felt before
                    </div>
                </div>

            </div>


            <div class="write">
                <a id="uploadFile" href="javascript:;" class="write-link attach"></a>
                <input id="uploadFileInput" hidden type="file"/>
                <input onkeydown="keydown()" id="messageInput" type="text"/>
                <a href="javascript:;" class="write-link smiley"></a>
                <a id="sendMessage" class="write-link send"></a>
            </div>
        </div>
    </div>
</div>
<!-- partial -->
<script type="text/javascript" src="jquery/jquery-2.1.1.min.js"></script>
<!--<script src="js/script.js"></script>-->
<script src="layer/layer.js"></script>
<script type="text/javascript">




    function keydown(){
        if(event.keyCode==13){
            $("#sendMessage").click();
        }
    }



    $(function () {

        $(".person[data-chat=person2]").attr("class","person active");
        $(".chat[data-chat=person2]").attr("class","chat active-chat");


        // 当好友列表中的好友被选中时
        // 元素被选中，并且显示聊天记录
        $(".person").click(function () {





            // 当好友列表中的好友被选中时
            // 元素被选中，并且显示聊天记录
            $(".person").click(function () {

                // 将已选中的元素去除选中属性
                $(".active").attr("class","person");
                $(".active-chat").attr("class","chat");


                // 在好友列表中设置为选中
                $(this).attr("class", "person active");

                // 获取好友账号
                var toLoginAcct = $(this).attr("id");

                console.info(toLoginAcct);



                // 查询聊天记录
                $.ajax({
                    "url": "chat/get/message/record.json?toLoginAcct="+toLoginAcct,
                    "type":"GET",
                    "dataType": "json",
                    "success": function (response) {

                        var result = response.result;

                        if (result == "SUCCESS") {



                            var recordList = response.data;

                            console.info(recordList);

                            var chatRecordHtml = "";


                            if(recordList==null){

                            }else{

                                // 编写html
                                for (var record of recordList) {

                                    var type = record.type;
                                    var message = record.message;
                                    if (record.isPicture) {
                                        chatRecordHtml = "<div class=\"bubble you\">\n" +
                                            "                <img width=\"100\" src="+message+">\n" +
                                            "            </div>"
                                    }else{
                                        chatRecordHtml += "<div class=\"bubble " + type + "\">\n" +
                                            "                        " + message + "\n" +
                                            "                    </div>";
                                    }
                                }
                                // 插入元素
                                // 先清空
                                layer.msg("哈哈")
                                $("#"+toLoginAcct+"ChatRecord").empty();
                                $("#"+toLoginAcct+"ChatRecord").append(chatRecordHtml);
                            }



                        } else if (result == "FAILED") {

                            layer.msg(response.message);

                        }
                    },
                    "error": function (response) {

                    }
                })

                // 聊天窗口设置为选中
                $("#"+toLoginAcct+"ChatRecord").attr("class", "chat active-chat");

            })

        })


        // 创建websocket对象-->
        var ws = new WebSocket("ws://localhost:8080/user/chat");

        // 给ws绑定事件-->

        // 建立连接后需要做什么事-->
        ws.onopen = function () {

        };

        // 当接收到消息时,evt是事件对象-->
        ws.onmessage = function (evt) {

            // 获取服务端的消息-->
            var dataStr = evt.data;

            var result = JSON.parse(dataStr);


            // 是否是系统消息-->
            if (result.isSystem) {

                // 并且是上线消息
                if(result.type=="onlineMessage"){
                    // 更新在线好友列表显示-->
                    var onlineUserList = result.message;

                    var onlineUserHtml = "";
                    var chatRecordListHtml = "";

                    for (var user of onlineUserList) {
                        var headerPicturePath = user.headerPicturePath;
                        var loginAcct = user.loginAcct;
                        var name = user.username;
                        var message = user.message;
                        var myDate = new Date;
                        var hour = myDate.getHours();
                        var min = myDate.getMinutes();
                        onlineUserHtml += "<li id=" + loginAcct + " class=\"person\" data-chat=" + loginAcct + ">\n" +
                            "                    <img src=" + headerPicturePath + " alt=\"\"/>\n" +
                            "                    <span class=\"name\">" + name + "</span>\n" +
                            "                    <span class=\"time\">" + hour + ":" + min + "</span>\n" +
                            "                    <span class=\"preview\">" + "</span>\n" +
                            "                </li>"
                        // 初始化聊天记录
                        chatRecordListHtml +=
                            "            <div id=" + loginAcct + "ChatRecord" + " class=\"chat\" data-chat=" + loginAcct + ">\n" +
                            "                <div class=\"conversation-start\">\n" +
                            "                    <span>" + hour + ":" + min + "</span>\n" +
                            "                </div>\n" +
                            "            </div>"
                    }

                    // 将在线用户添加到到好友列表中
                    $("#onlineUsers").append(onlineUserHtml);

                    // 初始化聊天窗口
                    $("#chatRecordDiv").append(chatRecordListHtml);

                    // 好友上限提醒，在网页中底下弹出小框框提醒包括头像和用户名-->
                }else{

                    var offlineUser = result.message;
                    var loginAcct = offlineUser.loginAcct;

                    // 在好友列表中删除该用户

                    // 删除聊天

                }





            } else { // 如果是好友消息

                // 获取消息
                var message = result.message;

                var fromUser = result.fromUser;
                var loginAcct = fromUser.loginAcct;
                var name = fromUser.username;
                var headerPicturePath =  fromUser.headerPicturePath;



                // 时间
                var myDate = new Date;
                var hour = myDate.getHours();
                var min = myDate.getMinutes();
                // 1.如果当前用户没有打开该好友的聊天窗口
                // 将该好友更新到好友列表的最上方
                // 插入到好友列表前面

                // var person = $("#"+loginAcct);
                // var person_copy = person;
                // person.remove();
                // // 修改preview
                // person_copy.children(".preview").text(message);
                // // 修改时间
                // person_copy.children(".time").text(hour +":" + min);
                // // 插入
                // $(".people").prepend(person_copy);





                var chatMessageHtml ="";
                // 判断是否是图片
                if(result.isPicture){
                    // 是图片
                    // 插入聊天框
                    chatMessageHtml = "<div class=\"bubble you\">\n" +
                        "                <img width=\"100\" src="+message+">\n" +
                        "            </div>"
                    message = "[图片]";
                }else{
                    // 1.3 将消息插入到聊天窗口
                    chatMessageHtml = "<div class=\"bubble you\">\n" +
                        "                        "+message+"\n" +
                        "                    </div>";
                }

                var person = $("#"+loginAcct);
                var person_copy = person;
                person.remove();
                // 修改preview
                person_copy.children(".preview").text(message);
                // 修改时间
                person_copy.children(".time").text(hour +":" + min);
                // 插入
                $(".people").prepend(person_copy);


                $("#"+loginAcct+"ChatRecord").append(chatMessageHtml);



                // 1.3 提醒有好友登录
                layer.tips('新消息', '#'+loginAcct);



            }

        };

        ws.onclose = function () {

        };

        ws.onerror = function () {

        };


        // 发送文件
        $("#uploadFile").click(function (){
            $("#uploadFileInput").click();
        })

        $("#uploadFileInput").change(function (event){

            var file = event.target.files[0];

            var formData = new FormData();

            formData.append("picture",file);

            // 弹出加载层
            layer.load(2);

            $.ajax({
                "url": "user/upload/picture.json",
                "type": "POST",
                "data": formData,
                "contentType": false,
                "processData": false,
                "dataType": "json",
                "success": function (response) {

                    var result = response.result;

                    if(result == "SUCCESS") {
                        // 关闭加载层
                        layer.closeAll('loading');

                        // 如果上传成功，则从响应体数据中获取图片的访问路径
                        var picturePath = response.data;

                        // 获取好友的账号

                        var toName =  $(".active-chat").attr("data-chat");
                        //var toName = friends.list.querySelector('.active').getAttribute("data-chat");

                        // 插入聊天框
                        var pictureChatHtml = "<div class=\"bubble me\">\n" +
                            "                <img width=\"100\" src="+picturePath+">\n" +
                            "            </div>"

                        $("#"+toName+"ChatRecord").append(pictureChatHtml);

                        // 发送给好友
                        var json = {"isPicture":true,"toName": toName, "message": picturePath};
                        ws.send(JSON.stringify(json));
                    }

                    if(result == "FAILED") {
                        // 关闭加载层
                        layer.closeAll('loading');
                        layer.msg(response.message);
                    }

                },
                "error": function (response) {
                    // 关闭加载层
                    layer.closeAll('loading');
                }
            })





        })




        // 发送消息
        $("#sendMessage").click(function () {

            // 获取消息
            var data = $("#messageInput").val();

            // 将输入框清空
            $("#messageInput").val("");

            // 获取接收者的用户名
            var toName =  $(".active-chat").attr("data-chat");
           // var toName = friends.list.querySelector('.active').getAttribute("data-chat");

            var json = {"isPicture":false,"toName": toName, "message": data};

            $(".active-chat").append('<div class="bubble me">\n' +
                '                        '+data+'\n' +
                '                    </div>');

            var person = $("#"+toName);
            var person_copy = person;
            person.remove();
            person_copy.children(".preview").text(data);
            $("#onlineUsers").prepend(person_copy);

            ws.send(JSON.stringify(json));

        })

        // 禁止刷新
        $(document).ready(function() {
            $(document).bind("keydown",function(e){
                e=window.event||e;
                if(e.keyCode==116){
                    e.keyCode = 0;
                    return false;
                }
            });
        });

        $(document).ready(function() {
            $(document).bind("contextmenu",function(e) {
                layer.msg("此应用不允许刷新");
                return false;
            });
        });


    })


</script>
</body>
</html>

